<link rel="stylesheet" href="nmkEcoHome.style.css">
<div class="row">
    <div class="ECO_HOME Eco_overlay container container-fluid">  
        <div class="md-card-content Eco_overlay">        
        <h1 class="Eco_tool"> Eco Online tool to master your business </h1>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="container container-fluid">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 Eco_Info">
       <h1 id="Eco_info"> Popular Services </h1>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  Md-Info">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 Md-InfoDiv1">
           <span class="md-info1"><md-icon>tune</md-icon></span>
           <h1 class="md-info-header-1"> NMK Eco HookUp</h1>
           <div>
             <p class="md-info-body"> Eco provide a better solution called &nbsp;<strong>NMK Eco Hookup</strong>. To tune your business and run your bussiness at any time any place
               Just like that.</p> 
           </div>
           <div class="md-infoDivbanner-1"></div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 Md-InfoDiv2">
              <span class="md-info2"><md-icon>payment</md-icon></span>
              <h1 class="md-info-header-2"> NMK Eco Payment</h1>
              <div>
                <p class="md-info-body"> With <strong>Eco Payment</strong> make payment without pausing the time Just like that.</p> 
              </div>
              <div class="md-infoDivbanner-2"></div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 Md-InfoDiv3">
                <span class="md-info3"><md-icon>map</md-icon></span>
                <h1 class="md-info-header-3"> NMK Eco Tracking</h1>
                <div>
                  <p class="md-info-body"> With <strong>Eco Tracking</strong> you can track the product at any time, any place in the world. Just like that.</p> 
                </div>
                <div class="md-infoDivbanner-3"></div>
              </div>           
        </div>
      </div>
     </div>

    
  