<div class="row">
    <div class="container container-fluid">
        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <table class="table table-responsive table-bordered table-striped productShadow">
                <tbody>
                    <tr >
                        <td>
                            <img ng-src="{{ImagePath}}" class="img-responsive Laptop1"/>
                            <h1 class="title">{{productName}}</h1>
                            <button ng-if="ImagePath" class="btn btn-primary cart" ng-click="AddCart()">Add to Cart</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
         </div>
    </div>
</div>